<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.boost.org">Boost</a>
      <span class="navbar-item">Boost.Graph Documentation</span>
    </div>
  </nav>
</header>
